<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="todo.todolist.mapper.TodoMapper">

    <sql id="TodoColumns">
        idx
        ,title
        ,content
        ,writer
        ,view_cnt
        ,notice_yn
        ,secret_yn
        ,delete_yn
        ,insert_time
        ,update_time
        ,delete_time
    </sql>

    <insert id="insertTodo" parameterType="todo.todolist.mapper.TodoMapper">
        INSERT INTO board (
            <include refid="TodoColumns" />
        ) VALUES (
              #{idx}
            , #{title}
            , #{content}
            , #{writer}
            , 0
            , IFNULL(#{noticeYn}, 'N')
            , IFNULL(#{secretYn}, 'N')
            , 'N'
            , NOW()
            , NULL
            , NULL
        )
    </insert>

    <select id="selectTodoDetail" parameterType="long" resultType="todo.todolist.domain.TodoDTO">
            SELECT
                <include refid="TodoColumns" />
            FROM
                board
            WHERE
                delete_yn = 'N'
            AND
                idx = #{idx}
    </select>

    <update id="updateTodo" parameterType="todo.todolist.domain.TodoDTO">
        UPDATE board
        SET
             update_time = NOW()
            ,title = #{title}
            ,content = #{content}
            ,writer = #{writer}
            ,notice_yn = IFNULL(#{noticeYn}, 'N')
            ,secret_yn = IFNULL(#{secretYn}, 'N')
        WHERE
            idx = #{idx}
    </update>

    <update id="deleteTodo" parameterType="long">
        UPDATE board
        SET
            delete_yn = 'Y'
            ,delete_time = NOW()
        WHERE
            idx = #{idx}
    </update>

    <select id="selectTodoList" parameterType="todo.todolist.domain.TodoDTO" resultType="todo.todolist.domain.TodoDTO">
        SELECT
            <include refid="TodoColumns" />
        FROM
            board
        WHERE
            delete_yn = 'N'
        ORDER BY
            notice_yn ASC,
            idx DESC,
            insert_time DESC
    </select>

    <select id="selectTodoTotalCount" parameterType="todo.todolist.domain.TodoDTO" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board
        WHERE
            delete_yn = 'N'
    </select>

</mapper>